.our_categories-bg {
    background: #CEE8FF;
  }
  .our_categories {
    padding: 120px 0 ;
    position: relative;
  }
  .our_categories-title {
    color: #105393;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 64px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    width: fit-content;
    position: relative;
  }
  .our_categories-title::after {
    content: url('../img/title-decor.svg');
    position: absolute;
    top: -40px;
    right: -50px;
    transform: rotate(70deg);
  }
  
  .our_categories-decor {
    position: absolute;
    top: 105px;
    right: 30%;
  }
  .our_categories-slider--item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
    min-width: 296px;
    margin-right: 32px;
  }
  .our_categories_href-oftitle {
    font-size: 32px;
    font-weight: 600;
    color: #105393;
  }
  .our_categories-slider {
    padding: 0 80px;
  
  }

  .mobile-categories {
    display: none;
  }

  @media (max-width: 1200px) {
    .our_categories-slider--item {
      min-width: 230px;
    }
    .our_categories_href-oftitle {
      font-size: 20px;
    }
  }

  @media (max-width: 768px) {
    .categories-wrapper {
      display: none;
    }
  }

  @media (max-width: 568px) {
    .mobile-categories {
      display: block;
    }
    .our_categories-bg {
      display: block;
      & .our_categories-title {
        display: none;
      }
    }
    .our_categories-slider--item {
      min-width: 56px;
      max-width: 100px;
      margin-right: 0;
    }
    .our_categories {
      padding: 8px 0 8px 22px;
    }
    .our_categories-slider {
      padding: 0;
      & .slick-track {
        gap: 20px;
      }
    }
    .our_categories_href-oftitle {
      font-size: 12px;
      font-weight: 400;
    }
  }