.follow_us {
    position: relative;
    margin-top: 120px;
    & .slick-track {
      gap: 8px;
    }
}
.follow_us-dec1, .follow_us-dec2{
  position: absolute;
}

.follow_us-dec1 {
  right: 0;
  top: 112px;
}
.follow_us-dec2 {
  left: 101px;
}

.follow_us-title, .follow_us-of-title {
  text-align: center;
}
.follow_us-title {
  color: #105393;
  font-size: 64px;
  font-weight: 400;
  font-family: 'DM Serif Display';
  margin: 0 auto;
  width: fit-content;
  position: relative;
}
.follow_us-title::before {
  content: url('../img/title-decor.svg');
  position: absolute;
  top: -50px;
  left: -40px;
}
.follow_us-of-title {
  color: #E86E6E;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin: 32px 0;
}
.follow_us-inner {
  max-width: 1070px ;
  margin: 0 auto;
}
.follow_ua-insta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px ;
  margin-bottom: 45px;
  & .fa-instagram {
    font-size: 32px;
    color: #FF8F8F;
  }
}

.follow_ua-insta-id {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #105393;
}
.follow_us-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media (max-width: 1200px) {
  .follow_us-of-title {
    max-width: 80%;
    margin: 32px auto;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .follow_us-title {
    font-size: 48px;
  }
  .decor-item {
    display: none;
  }
  .follow_us-title::before {
    content: url('../img/title-decor.svg');
    position: absolute;
    top: -50px;
    left: -50px;
    transform: scale(0.8);
  }
  .follow_us-of-title {
    max-width: 100%;
    margin: 32px auto;
    font-size: 24px;
  }
  .follow_us {
    margin: 70px;
  }
}

@media (max-width: 568px) {
  .follow_us-title {
    font-size: 32px;
  }
  .follow_us-of-title {
    margin: 16px auto;
  }
}