.quiet_books-container {
  overflow: hidden;
}
.quiet_books {
  background-color: #CEE8FF;
}
.quiet_books-inner {
  margin: calc(120/1440*100%) calc(80/1440*100%) calc((120/1440*100%) + 36px);
  position: relative;
}
.quiet_books-text {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 32px;
  color: #105393;
  position: absolute;
  bottom: 165px;
  right: 125px;
}

.quiet_books-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.quiet_books-title {
  color: #105393;
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  position: relative;
  width: fit-content;
}
.quiet_books-title::after {
  content: url('../img/title-decor.svg');
    position: absolute;
    right: -50px;
    top: -40px;
    transform: rotate(70deg);
}
.quiet_books-text {
  margin-top: 10px;
}
.books-item--title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #414249;
}
.quiet_books-items {
  margin-top: 64px;
}
.quiet_books-item {
  display: flex;
 justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 365px;
  height: 365px;
  position: relative;
  z-index: 1;
}
.books-item--wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 8px;
  border: dashed #FF8F8F 1px ;
  height: 349px;
  width: 349px;
  gap: 8px;
}
.books-item--icons {
  width: 96px;
  height: 96px;
}
.books-item--text {
  max-width: 253px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #414249 ;
  text-align: center;
}
.easy_to_carry {
  transform: translateY(106px);
}
.Sustainability {
  transform: translateY(51px);
}

.Long_lasting-products {
  transform: translateY(36px)  translateX(150px);
}
.Versatile_toys {
  transform: translateY(38px)  translateX(-152px);
}
.quiet_books_bg {
  position: absolute;
  bottom: -156px;
  right: -80px;
 max-width: 100%;
 max-height: 100%;

}

@media (max-width: 1250px) {
  .quiet_books-item {
    width: 300px;
    height: 300px;  
  }
  .books-item--wrapper {
    height: 290px;
  }
  .books-item--title {
    line-height: normal;
    font-size: 16px;
    padding-bottom: 0;
  }
  .books-item--icons {
    width: 64px;
    height: 64px;
  }
  .books-item--text {
    font-size: 13px;
    max-width: 242px;
  }
  .quiet_books-text {
    bottom: 100px;
    right: 90px;
  }
}

@media (max-width: 1200px) {
  .easy_to_carry {
    transform: translateY(160px);
  }
  .Sustainability {
    transform: translateY(0px);
  }
  
  .Long_lasting-products {
    transform: translateY(160px)  translateX(0px);
  }
  .Versatile_toys {
    transform: translateY(0px)  translateX(0px);
  }
  .quiet_books-list {
    gap: 68px;
  }
  .quiet_books-text {
    bottom: 900px;
    right: 30px;
    max-width: 340px;
    font-size: 24px;
  }
}

@media (max-width: 992px) {
  .our-books-made_inner {
    flex-direction: column;
  }
  .our-books-made_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .our-books-made_sub-item {
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  .quiet_books-text {
    right: 10px;
  }
  .quiet_books-title {
    font-size: 48px;
  }
}

@media (max-width: 758px) {
  .books-item--wrapper {
    height: 270px;
  }
  .quiet_books-item {
    width: 280px;
    height: 280px;
  }
  .quiet_books-list {
    gap: 24px;
  }
  .quiet_books-text {
    bottom: 790px;
  }
}

@media (max-width: 659px) {
  .easy_to_carry {
    transform: translateY(0px) translateX(0px);
  }
  .Sustainability {
    transform: translateY(0px) translateX(0px);
  }
  
  .Long_lasting-products {
    transform: translateY(0px)  translateX(0px);
  }
  .Versatile_toys {
    transform: translateY(0px)  translateX(0px);
  }
  .slick-current {
    z-index: 15;
  }
  .quiet_books-item {
    max-width: 320px;
    margin: 0 auto;
  }
  .quiet_books-items {
    & .slick-dots {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 auto;
      border: none;
      gap: 8px;
      z-index: 5;
      & li {
        border-radius: 50%;
        border: none;
        background-color: #FFFFFF;
        opacity: 0.7;
        width: 15px;
        height: 15px;
        & button {
          visibility: hidden;
        }
      }
      & .slick-active {
        background-color: #105393;
      }
      & .slick-track {
        z-index: 15;
      }
    }
  }
  .quiet_books-inner {
    margin: 46px 0 82px; 
  }
  .quiet_books-title {
    margin: 0 auto;
  }
  .quiet_books-text {
    position: static;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
  }
  .quiet_books_bg {
    display: none;
  }
}

@media (max-width: 530px) {
  .quiet_books-title {
    font-size: 32px;
  }
}