<header class="header">
    <div class="container">
        <div class="header-wrapper">
            <div class="header-main">
                <div class="header-main--item">
                    <a href="tel: +49 61729452910" class="call" >
                        <span class="icon"><img src="@img/phone.svg" alt=""></span>
                        <span class="phone-number"> +49 61729452910</span>
                    </a>
                    <div class="drop-down--choise">
                        <ul class="lang-choise-menu">
                            <li><a class="lang-choise-item" href="#">EN</a></li>
                            <ul class="lang-sub--menu">
                                <li><a class="lang-choise-item " href="#">FR</a></li>
                                <li><a class="lang-choise-item" href="#">DE</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
                <div class="header-main--item">
                    <img src="@img/logo.png" alt="Jolly-design logo" class="logo">
                </div>
                <div class="header-main--item">
                    <ul class="header-main-menu">
                        <li class="main-menu--item"><a href="#"><img class="icon-icon-search main-header--icons" src="@img/search.svg" alt="icon-cart"></a></li>
                        <li class="main-menu--item"><a href="#"><img class="icon-icon-user main-header--icons" src="@img/user.svg" alt="icon-cart"></a></li>
                        <li class="main-menu--item"><div class="like-counter">
                            <img class="icon-heart main-header--icons" src="@img/empty-heart.svg" alt="icon-heart">
                            <span class="like-counter--number">6</span>
                        </div></li>
                        <li class="main-menu--item"><div class="like-counter">  
                            <img class="icon-basket main-header--icons" src="@img/cart.svg" alt="icon-cart">
                            <span class="like-counter--number">2</span>
                        </div></li>
                    </ul>
                </div>
            </div>
            <div class="header-menu">
                <ul class="header-menu--list">
                    <li class="header-menu--item">
                        <div class="drop-down">
                            <a href="#" class="drop">Products <i class="fa-solid fa-caret-down"></i></span></a>
                            <ul class="dropdown-content">
                                <li class="dropdown-content--item"><a href="#">Quiet Books</a></li>
                                <li class="dropdown-content--item"><a href="#">Mini Quiet Books</a></li>
                                <li class="dropdown-content--item"><a href="#">Booklets</a></li>
                                <li class="dropdown-content--item"><a href="#">Wooden Toys</a></li>
                                <li class="dropdown-content--item"><a href="#">Wall decorations</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="header-menu--item"><a href="#" class="menu-item--link">Child Development</a></li>
                    <li class="header-menu--item"><a href="#" class="menu-item--link">What are Quiet Books</a></li>
                    <li class="header-menu--item"><a href="#" class="menu-item--link">Blog</a></li>
                    <li class="header-menu--item"><a href="#" class="menu-item--link">
                        <div class="drop-down">
                        <a href="#" class="drop">About us<i class="fa-solid fa-caret-down"></i></span>
                        <ul class="dropdown-content">
                            <li class="dropdown-content--item"><a href="#">Where to Find Us1</a></li>
                            <li class="dropdown-content--item"><a href="#">Where to Find Us2</a></li>
                        </ul>
                        </div>
                        </a>
                    </li>


                    <li class="header-menu--item"><a href="#" class="menu-item--link">
                        <div class="drop-down">
                        <a href="#" class="drop">Support <i class="fa-solid fa-caret-down"></i></span></a>
                        <ul class="dropdown-content">
                            <li class="dropdown-content--item"><a href="#">Support1</a></li>
                            <li class="dropdown-content--item"><a href="#">Support2</a></li>
                        </ul>
                        </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</header>