<div class="subheader">
    <div class="container">
        <div class="subheader-slider">
            <div class="subheader-slider--item">
                <a class="slider-inner" href="#">
                    <span class="icon"><img src="@img/icon-car.svg" alt="icon"></span>
                    <span class="subheader-item--text">Free shipping from 60€ (DE)</span>
                </a>
                <a class="slider-inner " href="#">
                    <span class="icon-icon-hand-made"><img src="@img/icon-hand-made.svg" alt="icon"></span>
                    <span class="subheader-item--text">High quality hand-mand & ethical products</span>
                </a>
                <a class="slider-inner" href="#">
                    <span class="icon"><img src="@img/icon-guarantee.svg" alt="icon"></span>
                    <span class="subheader-item--text">6 Months guarantee</span>
                </a>
            </div>
            <div class="subheader-slider--item">
                <a class="slider-inner" href="#">
                    <span class="icon"><img src="@img/icon-heart.svg" alt="icon"></span>
                    <span class="subheader-item--text">The favourite of XXXX partners</span>
                </a>
                <a class="slider-inner" href="#">
                    <span class="icon"><img src="@img/icon-germany.svg" alt="icon"></span>
                    <span class="subheader-item--text">Made in Germany</span>
                </a>
                <a class="slider-inner" href="#">
                    <span class="icon"><img src="@img/icon-replacement.svg" alt="icon"></span>
                    <span class="subheader-item--text">Free parts replacement service</span>
                </a>
            </div>
        </div>
    </div>
</div>